


<h1>Listing users <%= "( #{User.count} )" %></h1>




<table>
  <tr>
    <th>Nome</th>
    <th>Sobrenome</th>
    <th>Email</th>


  </tr>

<% @users.each do |user| %>
  <tr>

    <td><%= user.nome %></td>
    <td><%= user.sobrenome %></td>
    <td><%= user.email %></td>
 </tr>


<% end %>


</table>

