<h1>Pages#index</h1>


<div id="wrap">

  <p id="wrap-span">
    Donec lorem nunc, condimentum ut blandit sit amet, fringilla at tortor. Donec sem neque, commodo ac dapibus id, viverra sed ante. Proin velit sem, laoreet vitae ultricies in, lacinia in arcu. Curabitur sagittis orci eget risus sagittis pulvinar. Mauris facilisis congue porta.
  </p>
  <hr />
  <div id="banner">
  </div>
  <hr/>
  <div id="conteudo-pages">
    <ul>
      <li>
        <header>
          <h4>condimentum ut blandit sit amet</h4>
        </header>
        <p>Donec lorem nunc, condimentum ut blandit sit amet, fringilla at tortor. Donec sem neque, commodo ac dapibus id, viverra sed ante. Proin velit sem, laoreet vitae ultricies in, lacinia in arcu. Curabitur sagittis orci eget risus sagittis pulvinar. Mauris facilisis congue porta.
    fringilla at tortor. Donec sem neque, commodo ac dapibus id, viverra sed an
      </p>
      <%= link_to 'Link' %>
      </li>
      <li class="bordinha">
          <header>
              <h4>condimentum ut blandit sit amet</h4>
            </header>
            <p>Donec lorem nunc, condimentum ut blandit sit amet, fringilla at tortor. Donec sem neque, commodo ac dapibus id, viverra sed ante. Proin velit sem, laoreet vitae ultricies in, lacinia in arcu. Curabitur sagittis orci eget risus sagittis pulvinar. Mauris facilisis congue porta.
        fringilla at
          </p>
          <%= link_to 'Link' %>
      </li>

      <li class="bordinha">
          <header>
            <h4>condimentum ut blandit sit amet</h4>
          </header>
          <p>Donec lorem nunc, condimentum ut blandit sit amet, fringilla at tortor. Donec sem neque, commodo ac dapibus id, viverra sed ante. Proin velit sem, laoreet vitae ultricies in, lacinia in arcu. Curabitur sagittis orci eget risus sagittis pulvinar. Mauris facilisis congue porta.
      fringilla at tortor. Donec sem neque, commodo ac dapibus id, viverra sed ante. Proin velit sem, laoreet vitae ultricies in, lacinia in arcu. Curabitur sagittis o
        </p>
        <%= link_to 'Link' %>
      </li>
    </ul>
  </div>
</div>

