<h1>Pages#localizacao</h1>


<div id="wrap">

  <p id="wrap-span">
    Donec lorem nunc, condimentum ut blandit sit amet, fringilla at tortor. Donec sem neque, commodo ac dapibus id, viverra sed ante. Proin velit sem, laoreet vitae ultricies in, lacinia in arcu. Curabitur sagittis orci eget risus sagittis pulvinar. Mauris facilisis congue porta.
  </p>
  <hr />
  <div id="banner">
  </div>
  <hr/>
  <div id="conteudo-pages">

        <div id="conteudo-text">
          <header>
          <h4>condimentum ut blandit sit amet?</h4>
         </header>
            <p>Donec lorem nunc, condimentum ut blandit sit amet, fringilla at tortor. Donec sem neque, commodo ac dapibus id, viverra sed ante. Proin velit sem, laoreet vitae ultricies in, lacinia in arcu. Curabitur sagittis orci eget risus sagittis pulvinar. Mauris facilisis congue porta.
        fringilla at tortor. Donec sem neque, commodo ac dapibus id, viverra sed an
          </p>
  <p>Donec lorem nunc, condimentum ut blandit sit amet, fringilla at tortor. Donec sem neque, commodo ac dapibus id, viverra sed ante. Proin velit sem, laoreet vitae ultricies in, lacinia in arcu. Curabitur sagittis orci eget risus sagittis pulvinar. Mauris facilisis congue porta.
        fringilla at tortor. Donec sem neque, commodo ac dapibus id, viverra sed an
          </p>
          <br />
          <br />
          <%= link_to 'Entre em contato conosto ', new_inquiry_path %>
        </div>


  </div>
</div>

